<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MINSE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
        body {
            background: #63E1C9;
        }
        .white-color {
            color: #F0E7D3;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/minse_logo.jpg" alt="" width="225" height="78">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="/"><p>>Основная страница</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/"><p>Оформить подписку</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entrance/">Войти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="alert alert-danger" role="alert">
  Внимание! Сервис работает только для углубленной страты 7 класса 444 школы, но это временно. Сайт начал работу!
</div>
<div class="container">
<p align="center"><video src="/templates/powerpoint.mp4" align="center" autoplay muted loop height="400" width="800"></video></p>
<h1 align="center"><p>Онлайн сервис для решения задач</p></h1><br>
<div class="col-sm-12" align="center">
    <a href="/login/"><button type="button" class="btn btn-info">Оформить подписку</button></a>
<a href="/login/"><button type="button" class="btn btn-outline-info">Оформить подписку</button></a>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<p align="center">Хотите принять участие в разработке MINSE? Пишите: job@minse.ru<br>
У вас появились вопросы? Пишите: admin@minse.ru</p>
<p>By Леонид Андреевич</p>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>

