<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MINSE - оплата</title>
</head>
<body>
<iframe align="center" src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%BE%D0%B1%D1%8B%D1%87%D0%BD%D0%BE%D0%B9%20%D0%BF%D0%BE%D0%B4%D0%BF%D0%B8%D1%81%D0%BA%D0%B8%20minse.ru&default-sum=457%2C56&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&successURL=&quickpay=small&account=4100111091828033&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</body>
</html>